.page{

margin-left:50px;
background-color:#BEBEBE;
margin-right:30px;
margin-top:60px;
width:1155px;
height:700px;
}
.page2{
margin-left:-20px;
margin-top:-5px;
}
.page3{
margin-left:600px;
margin-top:-400px;

}
.page4
{
margin-left:700px;
margin-top:-500px;
}
.page5
{
margin-top:20px;
margin-left:100px;
font-size:15px;
color:green;
}
.uff
{
margin-left:170px;

}
.uff2{
margin-left:10px;
color:white;
margin-top:30px;
}
.uff5{
margin-left:400px;
margin-top:-20px;
}
.uff4 ,button{
margin-left:40px;
background-color:gray;
margin-top:20px;
border-radius:40px;
}

.uff3{
margin-left:330px;
margin-top:-300px;
margin-right:600px;
}
.h2
{

font-size:30px;
color:white;
margin-left:70px;
margin-top:10px;

}